<div class="nspat-home-wrapper"></div>
<div id='map' class='map pad2'>Map</div>
<div class="map-navigation md-whiteframe-5dp" layout="row" layout-wrap layout-align="center center">
	<md-input-container flex="70">
	<label>Go To...</label>
	<md-select ng-model="home.mapState" ng-change="mapChange(home.mapState);">
          <md-option value="Luna Park Entrance">Luna Park Entrance</md-option>
          <md-option value="Coney Island">Coney Island</md-option>
          <md-option value="Comic Walk">Comic Walk</md-option>
          <md-option value="Clark Park Sculptures">Clark Park Sculptures</md-option>
          <md-option value="Royal Art Society">Royal Art Society</md-option>
          <md-option value="Former 1st Methodist Church">Former 1st Methodist Church</md-option>
          <md-option value="Lines of Communication">Lines of Communication</md-option>
          <md-option value="Mary MacKillop Place Statue">Mary MacKillop Place Statue</md-option>
          <md-option value="Australian Catholic University">Australian Catholic University</md-option>
          <md-option value="Mutidjula: Wanambi The Serpent">Mutidjula: Wanambi The Serpent</md-option>
          <md-option value="Harbour Cycles">Harbour Cycles</md-option>
          <md-option value="Brett Whiteley Place">Brett Whiteley Place</md-option>
          <md-option value="Foxie">Foxie</md-option>
          <md-option value="Bradfield Park North">Bradfield Park North</md-option>
          <md-option value="Former North Sydney Gateway">Former North Sydney Gateway</md-option>
          <md-option value="Australian Angel">Australian Angel</md-option>
 
    </md-select>
    </md-input-container>
</div>