<md-card ng-click="modal($event, 'luna')" class="nspat-card">
<img ng-src="assets/modal_luna.jpg" class="md-card-image" alt="Washed Out">
<md-card-actions layout="row" layout-align="end center">
<div layout="column" layout-align="center start" flex="50">
  <p>Luna Park</p>
</div>
<div layout="column" layout-align="center end" flex="50">
  <md-button ng-click="$event.stopPropagation()"><md-icon md-font-icon="fa-heart" class="md-menu-text-color fa s24"></md-icon></md-button>
</div>
</md-card-actions>
</md-card>

<md-card ng-click="modal($event, 'coney')" class="nspat-card">
<img ng-src="assets/modal_coney.jpg" class="md-card-image" alt="Washed Out">
<md-card-actions layout="row" layout-align="end center">
<div layout="column" layout-align="center start" flex="50">
  <p>Coney Island</p>
</div>
<div layout="column" layout-align="center end" flex="50">
  <md-button ng-click="$event.stopPropagation()"><md-icon md-font-icon="fa-heart" class="md-menu-text-color fa s24"></md-icon></md-button>
</div>
</md-card-actions>
</md-card>

<md-card ng-click="modal($event, 'comic')" class="nspat-card">
<img ng-src="assets/modal_comic.jpg" class="md-card-image" alt="Washed Out">
<md-card-actions layout="row" layout-align="end center">
<div layout="column" layout-align="center start" flex="50">
  <p>Comic Walk</p>
</div>
<div layout="column" layout-align="center end" flex="50">
  <md-button ng-click="$event.stopPropagation()"><md-icon md-font-icon="fa-heart" class="md-menu-text-color fa s24"></md-icon></md-button>
</div>
</md-card-actions>
</md-card>

<md-card ng-click="modal($event, 'clark')" class="nspat-card">
<img ng-src="assets/modal_clark.jpg" class="md-card-image" alt="Washed Out">
<md-card-actions layout="row" layout-align="end center">
<div layout="column" layout-align="center start" flex="50">
  <p>Clark Park Sculptures</p>
</div>
<div layout="column" layout-align="center end" flex="50">
  <md-button ng-click="$event.stopPropagation()"><md-icon md-font-icon="fa-heart" class="md-menu-text-color fa s24"></md-icon></md-button>
</div>
</md-card-actions>
</md-card>

<md-card ng-click="modal($event, 'cycles')" class="nspat-card">
<img ng-src="assets/modal_cycles.jpg" class="md-card-image" alt="Washed Out">
<md-card-actions layout="row" layout-align="end center">
<div layout="column" layout-align="center start" flex="50">
  <p>Harbour Cycles</p>
</div>
<div layout="column" layout-align="center end" flex="50">
  <md-button ng-click="$event.stopPropagation()"><md-icon md-font-icon="fa-heart" class="md-menu-text-color fa s24"></md-icon></md-button>
</div>
</md-card-actions>
</md-card>

<md-card ng-click="modal($event, 'angel')" class="nspat-card">
<img ng-src="assets/modal_angel.jpg" class="md-card-image" alt="Washed Out">
<md-card-actions layout="row" layout-align="end center">
<div layout="column" layout-align="center start" flex="50">
  <p>Australian Angel</p>
</div>
<div layout="column" layout-align="center end" flex="50">
  <md-button ng-click="$event.stopPropagation()"><md-icon md-font-icon="fa-heart" class="md-menu-text-color fa s24"></md-icon></md-button>
</div>
</md-card-actions>
</md-card>