<md-dialog ng-cloak>
<md-dialog-content>

<div class="dialog-header coneyHeader">

	<div class="image-overlay"></div>
	<h2 class="dialog-title softWhite">Coney Island</h2>
	<md-button layout="row" layout-align="center center" ng-click="" class="md-fab nspat-dialog-fab" aria-label="Back">
	<md-icon md-font-icon class="fa fa-star"></md-icon>
	</md-button>

	<md-button layout="row" layout-align="center center" ng-click="hide()" class="dialog-back" aria-label="Back">
	<md-icon md-font-icon class="fa fa-chevron-left"></md-icon>
</md-button>

</div>

<div class="nspat-dialog-inner">
<p>First constructed in 1935, Coney Island - Funnyland is the
only operating example of a 1930s funhouse left in the
world. It is a large single-cell double-storey height utilitarian structure ingeniously decorated as Moorish Extravaganza. Entrance façade dominated by elaborate twin pylons with ensemble of arches and signs. Dominated by large Russian ‘Onion’ Dome at southern end. Assertive Pseudo-Moorish
theme continues on West (harbour) façade and part of
south, with minarets, grilles etc.</p>
</div>

</md-dialog-content>

</md-dialog>