<md-dialog ng-cloak>
<md-dialog-content>

<div class="dialog-header cyclesHeader">

	<div class="image-overlay"></div>
	<h2 class="dialog-title softWhite">Harbour Cycles</h2>
	<md-button layout="row" layout-align="center center" ng-click="" class="md-fab nspat-dialog-fab" aria-label="Back">
	<md-icon md-font-icon class="fa fa-star"></md-icon>
	</md-button>

	<md-button layout="row" layout-align="center center" ng-click="hide()" class="dialog-back" aria-label="Back">
	<md-icon md-font-icon class="fa fa-chevron-left"></md-icon>
</md-button>

</div>

<div class="nspat-dialog-inner">
<p>The sculpture is a response to the ambition, city landscape
and architecture of North Sydney. The component sectors
of the circle reference the diverse imagery of the area;
portholes, water turbulence, rivets and struts of the Harbour
Bridge, maritime machinery, boat hulls, office windows,
buoys, flags and architectural construction.</p>
</div>

</md-dialog-content>

</md-dialog>