<md-dialog ng-cloak>
<md-dialog-content>

<div class="dialog-header comicHeader">

	<div class="image-overlay"></div>
	<h2 class="dialog-title softWhite">Comic Walk</h2>
	<md-button layout="row" layout-align="center center" ng-click="" class="md-fab nspat-dialog-fab" aria-label="Back">
	<md-icon md-font-icon class="fa fa-star"></md-icon>
	</md-button>

	<md-button layout="row" layout-align="center center" ng-click="hide()" class="dialog-back" aria-label="Back">
	<md-icon md-font-icon class="fa fa-chevron-left"></md-icon>
</md-button>

</div>

<div class="nspat-dialog-inner">
<p>Drawing on Australia’s golden age of comic strips, miniature
sculptures of popular comic characters such as Blinky Bill,
Splodge and the Magic Pudding are placed along the foreshore
walk to be discovered by visitors. The Michael Leunig
artwork, A Cup of Tea is homage to victims of the Ghost
Train Fire at Luna Park in 1979.</p>
</div>

</md-dialog-content>

</md-dialog>