<md-dialog ng-cloak>
<md-dialog-content>

<div class="dialog-header lunaHeader">

	<div class="image-overlay"></div>
	<h2 class="dialog-title softWhite">Luna Park</h2>
	<md-button layout="row" layout-align="center center" ng-click="" class="md-fab nspat-dialog-fab" aria-label="Back">
	<md-icon md-font-icon class="fa fa-star"></md-icon>
	</md-button>

	<md-button layout="row" layout-align="center center" ng-click="hide()" class="dialog-back" aria-label="Back">
	<md-icon md-font-icon class="fa fa-chevron-left"></md-icon>
</md-button>

</div>

<div class="nspat-dialog-inner">
<p>The Luna Park Face was originally based on existing
designs at Luna Park Melbourne and Steeplechase Park
in the United States. There have been eight distinct faces
since the original was installed in 1935. The current face
completed in 1994 is based on Arthur Barton’s 1950 Old
King Cole’ version.</p>
</div>

</md-dialog-content>

</md-dialog>