<md-dialog ng-cloak>
<md-dialog-content>

<div class="dialog-header clarkHeader">

	<div class="image-overlay"></div>
	<h2 class="dialog-title softWhite">Clark Park Sculptures</h2>
	<md-button layout="row" layout-align="center center" ng-click="" class="md-fab nspat-dialog-fab" aria-label="Back">
	<md-icon md-font-icon class="fa fa-star"></md-icon>
	</md-button>

	<md-button layout="row" layout-align="center center" ng-click="hide()" class="dialog-back" aria-label="Back">
	<md-icon md-font-icon class="fa fa-chevron-left"></md-icon>
</md-button>

</div>

<div class="nspat-dialog-inner">
<p>Tucked away in the western corner of Clark Park are the
Clark Park Sculptures, including a marble sculpture by du
Bourg, installed in 1981, a bronze teapot entitled ‘A Nite
to Remember’ by Edward Randall Moss and cast by Peter
Kingston, 1987, and a bronze sculpture entitled ‘Head’ by
Joe Allenberg, 1974.</p>
</div>

</md-dialog-content>

</md-dialog>