<md-dialog ng-cloak>
<md-dialog-content>

<div class="dialog-header angelHeader">

	<div class="image-overlay"></div>
	<h2 class="dialog-title softWhite">Australian Angel</h2>
	<md-button layout="row" layout-align="center center" ng-click="" class="md-fab nspat-dialog-fab" aria-label="Back">
	<md-icon md-font-icon class="fa fa-star"></md-icon>
	</md-button>

	<md-button layout="row" layout-align="center center" ng-click="hide()" class="dialog-back" aria-label="Back">
	<md-icon md-font-icon class="fa fa-chevron-left"></md-icon>
</md-button>

</div>

<div class="nspat-dialog-inner">
<p>Australian Angel was created specially for a major exhibition
of sculpture and graphic art by the Luginbühl family of
five artists - sculpted by Bernard Luginbühl. The exhibition
was the Swiss cultural contribution to the Sydney 2000
Olympic and Paralympic Games.</p>
</div>

</md-dialog-content>

</md-dialog>